body{
  margin:0;
  padding: 0;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background: rgba(59, 190, 184, 0)
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:active {
  background: #666; 
}
header h1{
  font-size:72px;
}
.height-300px{
  height:300px;
}
.grid-center{
  display:grid;
  place-items: center;
}
header{
  background-color: rgba(255,255,255,0.7);
  height:100%;
  width: 100%;
}
.background{
  height:100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: -200px;
  background-color: #ebebeb;
}
p{
  font-size: 17px;
  line-height: 1.4;
}
small{
  color: #777
}
.technology-info{
  font-size:18px;
  height: 35px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 12px;
  border: 1px solid black;
  color:#ccc;
  background: linear-gradient(135deg, #021d25 0%, #276888 100%);
  transition: 0.3s;
}
.technology-info:hover{
  transform: scale(1.03);
}
.margin-top-7px{
  margin-top: 7px;
}
.margin-top-20px{
  margin-top: 20px;
}
.box-shadow{
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-box-padding{
  padding: 15px 50px 25px 50px
}
.overflow-200px{
  max-height: 200px;
  overflow-y: scroll;
  padding: 10px;
}
.text-center{
  text-align: center;
}
.project-web-image{
  width: 533px;
}
.project-graphic-image{
  width: 312px;
}
.project-text{
  font-size: 20px;
}
.mobile{
  display:none;
}
ul li{
  margin:3px;
}
section .container{
  background: linear-gradient(90deg, rgba(57, 248, 232,0.7) 0%, rgba(255,255,255,0.7) 100%);
}
.project-paragraph-background{
  background: linear-gradient(-90deg, rgb(56, 245, 229) 0%, rgba(56, 245, 229) 100%);
  padding: 5px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:1200px) and (hover:hover){
  .background{
    background-position-x: -200px;
  }
}
@media screen and (max-width:991px) and (hover:hover){
  .background{
    background-position-x: -300px;
  }
}
@media screen and (max-width:767px) and (hover:hover){
  .project-web-image{
    width: 440px;
  }
  .background{
    background-position-x: -400px;
  }
}
@media screen and (max-width:550px) and (hover:hover){
  .project-web-image{
    width: 375px;
  }
  .row.project-text-height{
    width: 375px;
  }
  .background{
    background-position-x: -500px;
  }
}
@media screen and (max-width:450px) and (hover:hover){
  .project-web-image{
    width: 280px;
  }
}
@media screen and (max-width:350px) and (hover:hover){
  .project-web-image{
    width: 188px;
  }
}